@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p> Estamos avanzando un poquito jaja</p>
<button type="button" class="btn btn-primary">Agregar</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>