@{
    ViewData["Title"] = "CONSOLAS";
}

<h1 style="font-family : cursive">@ViewData["Title"]</h1>

<div class="row">

    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/xbox.jpg" class="animated fadeIn retraso-1" height="200" width="300" />
        <h2 style="color:#000000" class="allerta">XBOX</h2>
        <strong style=" color:#212121">$500.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/xbox360.jpg" class="animated fadeIn retraso-1 " height="200" width="300" />
        <h2 style="color:#000000" class="allerta"> XBOX 360</h2>
        <strong style=" color:#212121">$1'800.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/play32.jpg" class=" animated fadeIn retraso-1 " height="200" width="300" />
        <h2 style="color: #000000">PLAY 3</h2>
        <strong style=" color:#212121">$700.000</strong>
    </div>
    <hr />
</div>
<div class="row">

    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/xboxone.jpg" class="animated fadeIn retraso-1" height="200" width="300" />
        <h2 style="color:#000000" class="allerta">XBOX ONE</h2>
        <strong style=" color:#212121">$3'000.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/PS2.jpg" class="animated fadeIn retraso-1 " height="200" width="300" />
        <h2 style="color:#000000" class="allerta"> PLAY STATION 2</h2>
        <strong style=" color:#212121">$2'800.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/consolas/WII.jpg" class=" animated fadeIn retraso-1 " height="200" width="300" />
        <h2 style="color: #000000">WII</h2>
        <strong style=" color:#212121">$760.000</strong>
    </div>
    <hr />
</div>
