@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p>  UNIVERSIDAD DEL TOLIMA, Calle 42, Ibagué, Tolima </p>
</address>

<address>
    <p> Escríbenos a <a href="mailto:jjmurillob@ut.edu.co"> Administrador@ut.edu.co</a></p>
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5846.460504978152!2d-75.21359376726043!3d4.429396759799777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38c4c32f405177%3A0x3ee4ce9b16c13c2d!2sUNIVERSIDAD+DEL+TOLIMA!5e0!3m2!1ses!2sco!4v1542227218753" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
