@{
    ViewData["Title"] = "Home Page";
}<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
        <div class="item active">
            <img src="~/images/Juegos/pj/ps2.png" alt="ASP.NET" class="animated fadeIn retraso-1" height="800" width="800" />
            <div class="carousel-caption" role="option">
              
            </div>
        </div>       
    <div>
        <strong style="color:#000000;font-family:cursive;font-size:large">"Dicen que el dinero no puede comprar la felicidad... 
                                                           pero si te puede ayudar a conseguir una consola" </strong>

    </div>
<hr />
<div class="row">
    <div class="col-md-3 animated fadeInDown retraso-2 " style="font-family:cursive">
        <h2 style="color:#000000">Ejercicio</h2>    
        <p style=" color:#212121">
           
        </p>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 "style = "font-family:cursive">
        <h2 style="color:#000000">Abstracto</h2> 
        <p>
            

        </p>
    </div>
    <div class="col-md-3  animated fadeInDown retraso-2 "style="font-family:cursive">
        <h2 style="color: #000000">Sedentarismo</h2>   
        <p>
           
        </p>
    </div>
   
</div>
