@{
    ViewData["Title"] = "Home Page";
}<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
        <div class="item active" style="text-align:center">
            <img src="~/images/Juegos/pj/ps2.png" alt="ASP.NET" class="animated fadeIn retraso-1" height="900" width="900" />
            <div class="carousel-caption" role="option">
              
            </div>
        </div>       
    <div class="animated slideInLeft" style="text-align:center">
        <strong style="color:#000000;font-family:cursive;font-size:20px" >"Dicen que el dinero no puede comprar la felicidad,
                                                           pero si  una consola ..." </strong>
        
    </div>
<hr />
<div class="row">

    <h2> <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-danger btn-lg btn-block animated fadeInDown retraso-1"><strong>Ingresa !!</strong></a></h2>
    <h2> <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-danger btn-lg btn-block animated fadeInDown retraso-1"><strong>Registrate !!</strong></a></h2>
    <p style="color:#2C67C7;font-family:cursive;text-align:center"><strong>¿No te has registrado ? Registrate!!</strong></p>


</div>
