@{
    ViewData["Title"] = "VIDEOJUEGOS";
}

<h1 style="font-family : cursive">@ViewData["Title"]</h1>

<div class="row">

    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/pubg.png" class="animated fadeIn retraso-1" height="200" width="150" />
        <h2 style="color:#000000" class="allerta">PUBG</h2>
        <strong style=" color:#212121">$100.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/fortnite.jpg" class="animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color:#000000" class="allerta"> FORTNITE</h2>
        <strong style=" color:#212121">$60.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/ofduty.jpg" class=" animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color: #000000">CALL OF DUTY</h2>
        <strong style=" color:#212121">$700.000</strong>
    </div>
 
</div>
<div class="row">

    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/Godwar.jpg" class="animated fadeIn retraso-1" height="200" width="150" />
        <h2 style="color:#000000" class="allerta">GODS OF WAR</h2>
        <strong style=" color:#212121">$300.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/Gears.jpg" class="animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color:#000000" class="allerta"> GEARS OF WAR</h2>
        <strong style=" color:#212121">$1'000.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/farcry.jpg" class=" animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color: #000000">FAR CRY</h2>
        <strong style=" color:#212121">$760.000</strong>
    </div>
   
</div>
<div class="row">

    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/ghostrecon.jpg" class="animated fadeIn retraso-1" height="200" width="150" />
        <h2 style="color:#000000" class="allerta">GHOST RECON</h2>
        <strong style=" color:#212121">$200.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/dbz.jpg" class="animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color:#000000" class="allerta"> DRAGON BALL</h2>
        <strong style=" color:#212121">$1'300.000</strong>
    </div>
    <div class="col-md-3 animated fadeInDown retraso-2 consolas " style="font-family:cursive;margin-top:100px;margin-right:30px">
        <img src="~/images/Juegos/destinity.jpg" class=" animated fadeIn retraso-1 " height="200" width="150" />
        <h2 style="color: #000000">DESTINITY</h2>
        <strong style=" color:#212121">$770.000</strong>
    </div>

</div>
