@model Definitivo.Models.Basedb.TipoPago

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreTipoPago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoPagoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
