@model Proyecto.Models.Basedb.Alquiler

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <input asp-for="ProductoId" class="form-control" />
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaId" class="control-label"></label>
                <input asp-for="PersonaId" class="form-control" />
                <span asp-validation-for="PersonaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagoId" class="control-label"></label>
                <input asp-for="TipoPagoId" class="form-control" />
                <span asp-validation-for="TipoPagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrada" class="control-label"></label>
                <input asp-for="FechaEntrada" class="form-control" />
                <span asp-validation-for="FechaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAlquiler" class="control-label"></label>
                <input asp-for="TotalAlquiler" class="form-control" />
                <span asp-validation-for="TotalAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
